body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-header h1 {
    font-size: 24px;
    color: #333;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.profile-info p strong {
    color: #333;
}
*{
    padding: 0;
    margin: 0;
  }
  .nav_bar{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #819BDF;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    
  }
  .list{
    display: flex;
    
  }
  .link_list:hover{
    background-color: #fff;
    color: black;
    border-radius:10px;
    
  }
  .list_link{
    margin-left: 40px;
    list-style: none;
   
    
  
  }
  .link_list{
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav > a{
    color: #fff;
    text-decoration: none;
  }
  main{
    width: 100%;
  
  }